.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  color: white;
  max-height: 24em;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
